<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matteoaldini.lessonmanager" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/launch_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AddOrEditStudentActivity"
            android:label="Add Student" >
        </activity>

        <activity
            android:name=".activities.AddLessonActivity"
            android:label="Add Lesson" >
        </activity>

        <activity
            android:name=".activities.DetailsStudentActivity"
            android:label="Details Student" >
        </activity>

        <activity android:name=".activities.DetailsLessonActivity"
            android:label="Details Lesson">
        </activity>

        <activity android:name=".activities.EditLessonActivity"
            android:label="Edit Lesson">
        </activity>

        <activity android:name=".activities.ShowLessonsActivity"
            android:label="Lessons">
        </activity>



    </application>

</manifest>
